:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #8d8d8d;
}

* {
  box-sizing: border-box;
}

.container {
  border: 5px solid orange;
  text-align: center;
  background-color: #b3b3b3;
}

.drum {
  width: 320px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px;
}

.drum-pad {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey;
    box-shadow: black 3px 3px 5px;
}

#display {
  width: 200px;
  height: 66px;
  background-color: gray;
  margin: 15px auto;
  padding: 15px;
  border-radius: 5px;
}